---
import { getCollection } from "astro:content";
import ContentPageLayout from "src/layouts/ContentPageLayout.astro";
import ProgramCard from "@components/ProgramCard.astro";
import { Link } from "@fod/ui/components";
const programs = await getCollection("programs");
---

<ContentPageLayout title="Programs">
    <h1>Programs</h1>

    <div class="grid grid-cols-1 gap-12 pt-8 lg:grid-cols-2">
        {
            programs.map((program) => {
                return (
                    <ProgramCard image={program.data.image} alt={program.data.name}>
                        <div class="flex h-full flex-col justify-between px-4 pb-6 pt-4">
                            <div>
                                <h2 class="mt-0">{program.data.name}</h2>
                                <p>{program.data.summary}</p>
                            </div>
                            <div>
                                <Link href={`/programs/${program.slug.slice(3)}`}>Learn More</Link>
                            </div>
                        </div>
                    </ProgramCard>
                );
            })
        }
    </div>
</ContentPageLayout>
