---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import ContentPageLayout from "src/layouts/ContentPageLayout.astro";
const boardMembers = await getCollection("board-members");
---

<ContentPageLayout title="About Us">
  <h1 class="text-3xl font-bold tracking-tighter sm:text-5xl">About Us</h1>
  <p class="text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
    Friends of Donegal (FOD) is a non-profit organization that was formed in 2009 to support the
    Donegal School District. Our mission is to provide financial support for educational programs
    and activities that are not funded by the school district. We are a group of volunteers who
    believe that a strong school system is the foundation of a strong community. We work to enhance
    the educational experience of Donegal students by providing funding for programs that enrich
    their learning and help them reach their full potential.
  </p>
  <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl">Our Core Values</h2>
  <h3 class="pt-6 text-xl font-bold tracking-tighter sm:text-3xl">Equity</h3>
  <p class="text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
    We believe everyone should be seen, heard, valued, and empowered to succeed. We work to change
    practices, structures, and policies to realize equity for everyone.
  </p>

  <h3 class="pt-6 text-xl font-bold tracking-tighter sm:text-3xl">Making Sustainable Change</h3>
  <p class="text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
    We are committed to the economic security of all people. Unlike systems that create and maintain
    disparities, we adopt approaches that meet the individual's needs the way they experience social
    problems.
  </p>

  <h3 class="pt-6 text-xl font-bold tracking-tighter sm:text-3xl">Persistent</h3>
  <p class="text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
    We understand to make sustainable change we must pursue our goals even when it is difficult or
    opposed by others. We are driven to think and do what is best for those in need in our
    community.
  </p>

  <h3 class="pt-6 text-xl font-bold tracking-tighter sm:text-3xl">Opportunity</h3>
  <p class="text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
    We work with others to create the circumstances for members of our community to thrive.
  </p>

  <h3 class="pt-6 text-xl font-bold tracking-tighter sm:text-3xl">With</h3>
  <p class="text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
    We are here to walk with you, team with you and celebrate with you.
  </p>

  <h3 class="pt-6 text-xl font-bold tracking-tighter sm:text-3xl">Empathy</h3>
  <p class="text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
    We are genuinely interested in the emotional state of others and engage with those emotions to
    compassionately take action.
  </p>

  <h3 class="pt-6 text-xl font-bold tracking-tighter sm:text-3xl">Relationships</h3>
  <p class="text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
    RelationshipsWe build connections between people and organizations, founded in mutual respect,
    to work together to bring about change.
  </p>
  <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl">Meet Our Board of Directors</h2>
  {
    boardMembers.map((member) => (
      <>
        <div class="flex flex-col gap-x-8 md:flex-row">
          <div class="w-300 h-400 flex-shrink-0">
            {member.data.imageUrl && (
              <Image
                class={"rounded-2xl object-contain"}
                src={member.data.imageUrl}
                width={300}
                height={400}
                alt={`${member.data.name}, ${member.data.boardTitle}`}
              />
            )}
          </div>
          <div>
            <h3 class="text-xl font-bold tracking-tighter sm:text-3xl">
              {member.data.name}
              {member.data.boardTitle && ` - ${member.data.boardTitle}`}
            </h3>
            <p class="text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
              {member.body}
            </p>
          </div>
        </div>
        <hr />
      </>
    ))
  }

  <h2 id="501c3">501C3 Information</h2>
  <p>
    Friends of Donegal (FOD) is a 501(c) (3) organization. The official registration and financial
    information of FOD may be obtained from the Pennsylvania Department of State by calling toll
    free within PA. 1-800-732-0999. Registration does not imply endorsement.
  </p>
</ContentPageLayout>
