---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Heading, { HeadingType } from "@components/Heading.astro";
import Paragraph, { ParagraphStyle } from "@components/Paragraph.astro";
import ContentPageLayout from "src/layouts/ContentPageLayout.astro";
const boardMembers = await getCollection("board-members");
---

<ContentPageLayout title="About Us">
    <Heading type={HeadingType.H2} class="mb-8">Meet Our Board of Directors</Heading>
    {
        boardMembers.map((member) => (
            <>
                <div class="flex flex-col md:flex-row gap-x-8">
                    <div class="w-300 h-400 flex-shrink-0">
                        {member.data.imageUrl && (
                            <Image
                                class={"object-contain rounded-2xl"}
                                src={member.data.imageUrl}
                                width={300}
                                height={400}
                                alt={`${member.data.name}, ${member.data.boardTitle}`}
                            />
                        )}
                    </div>
                    <div>
                        <Heading type={HeadingType.H3} class="mt-4 mb-0">
                            {member.data.name}
                            {member.data.boardTitle && ` - ${member.data.boardTitle}`}
                        </Heading>
                        <Paragraph style={ParagraphStyle.Default}>
                            {member.body}
                        </Paragraph>
                    </div>
                </div>
                <hr class="my-8" />
            </>
        ))
    }

    <Heading type={HeadingType.H2} id="501c3">501C3 Information</Heading>
    <Paragraph>
        Friends of Donegal (FOD) is a 501(c) (3) organization. The official registration and
        financial information of FOD may be obtained from the Pennsylvania Department of State by
        calling toll free within PA. 1-800-732-0999. Registration does not imply endorsement.
    </Paragraph>
</ContentPageLayout>
