---
import Layout from "../layouts/Layout.astro";
import HeroBlock from "../components/HeroBlock.astro";
import Heading, { HeadingType, HeadingColor } from "../components/Heading.astro";
import Paragraph, { ParagraphColor } from "../components/Paragraph.astro";
import { getCollection } from "astro:content";
const programs = await getCollection("programs");
const homepagePrograms = programs
    .filter(
        (program): program is typeof program & { data: { homepageIndex: number } } =>
            program.data.homepageIndex != null,
    )
    .sort((a, b) => a.data.homepageIndex - b.data.homepageIndex);
---

<Layout title="Friends of Donegal">
    <div class="w-full shadow-inner">
        <div
            class="font-body text-brand-700 p-12 text-center text-3xl font-thin italic md:container md:mx-auto">
            We harness the collective power and influence of the community to improve the lives of
            our neighbors.
        </div>
    </div>
    <div>
        {
            homepagePrograms.map((program, idx) => {
                return idx % 2 === 0 ? (
                    <HeroBlock image={program.data.image} imageAltText={program.data.name}>
                        <div class="my-auto h-full bg-blue-600">
                            <div class="flex md:container md:mx-auto">
                                <div class="my-auto px-16 pb-8 pt-6">
                                    <Heading type={HeadingType.H2} color={HeadingColor.White}>
                                        {program.data.name}
                                    </Heading>
                                    <Paragraph color={ParagraphColor.White}>
                                        <span>{program.data.summary}</span>
                                        <a
                                            class="font-semibold text-white underline"
                                            href={`programs/${program.slug.slice(3)}`}>
                                            Learn more
                                        </a>
                                    </Paragraph>
                                </div>
                            </div>
                        </div>
                    </HeroBlock>
                ) : (
                    <HeroBlock
                        image={program.data.image}
                        imageAltText={program.data.name}
                        imagePosition="right">
                        <div class="my-auto h-full bg-teal-800">
                            <div class="flex md:container md:mx-auto">
                                <div class="my-auto px-16 pb-8 pt-6">
                                    <Heading type={HeadingType.H2} color={HeadingColor.White}>
                                        {program.data.name}
                                    </Heading>
                                    <Paragraph color={ParagraphColor.White}>
                                        <span>{program.data.summary}</span>
                                        <a
                                            class="font-semibold text-white underline"
                                            href={`programs/${program.slug.slice(3)}`}>
                                            Learn more
                                        </a>
                                    </Paragraph>
                                </div>
                            </div>
                        </div>
                    </HeroBlock>
                );
            })
        }
    </div>
</Layout>
