---
import Layout from "../layouts/Layout.astro";
import HeroBlock from "../components/HeroBlock.astro";
import Heading, { HeadingType, HeadingColor } from "../components/Heading.astro";
import Paragraph, { ParagraphColor } from "../components/Paragraph.astro";
import powerPacks from "../assets/images/programs/power_packs.jpg";
import gettingAhead from "../assets/images/programs/gettingAhead.jpg";
---

<Layout title="Friends of Donegal">
    <div class="w-full shadow-inner">
        <div
            class="font-body p-12 text-center text-3xl font-thin italic text-brand-700 md:container md:mx-auto">
            We harness the collective power and influence of the community to improve the lives of
            our neighbors.
        </div>
    </div>
    <div>
        <HeroBlock
            image={gettingAhead}
            imageAltText="Getting ahead award ceremony group picture">
            <div class="my-auto h-full bg-blue-600">
                <div class="flex md:container md:mx-auto">
                    <div class="my-auto px-16 pb-8 pt-6">
                        <Heading type={HeadingType.H2} color={HeadingColor.White}>
                            Getting Ahead
                        </Heading>
                        <Paragraph color={ParagraphColor.White}>
                            The Getting Ahead program is a 12 week course where individuals explore
                            the theory of change while investigating their lives and their
                            community. <a
                                class="font-semibold text-white underline"
                                href="/programs/getting-ahead">Learn more</a
                            >
                        </Paragraph>
                    </div>
                </div>
            </div>
        </HeroBlock>
        <HeroBlock
            imageClass={["object-top"]}
            image={powerPacks}
            imageAltText="Power packs"
            imagePosition="right">
            <div class="my-auto h-full bg-teal-800">
                <div class="flex md:container md:mx-auto">
                    <div class="my-auto px-16 pb-8 pt-6">
                        <Heading type={HeadingType.H2} color={HeadingColor.White}>
                            Power Packs
                        </Heading>
                        <Paragraph color={ParagraphColor.White}>
                            The Donegal PowerPacks project provides weekly meals and nutritional
                            education to eligible families so that children thrive and return to
                            school, well-fed and ready to learn. <a
                                class="font-semibold text-white underline"
                                href="/programs/donegal-pwer-packs">Learn more</a
                            >
                        </Paragraph>
                    </div>
                </div>
            </div>
        </HeroBlock>
    </div>
</Layout>
