---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import DonateButton from "../components/DonateButton.astro";
import { Header } from "@fod/ui/components";
import logo from "../assets/images/FOD-logo-white.png";
const programs = await getCollection("programs");

import "@fod/ui/styles.css";
import "../styles/tailwind.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Harnessing the collective power and influence of the community to improve the lives of our neighbors in the Donegal Community. Together we promote hope and equity for all."
    />
    <meta name="keywords" content="Friends of Donegal, Donegal, Community, Nonprofit, Charity, food insecuirty, homelessness, poverty" />

    <meta property="og:url" content="http://friendsofdonegal.org" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Friends of Donegal" />
    <meta
      property="og:description"
      content="Harnessing the collective power and influence of the community to improve the lives of our neighbors in the Donegal Community. Together we promote hope and equity for all."
    />
    <meta property="og:image" content="https://friendsofdonegal.org/fod-og.png" />
    <meta property="og:image:width" " content="1200" />
    <meta property="og:image:height" " content="630" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="friendsofdonegal.org" />
    <meta property="twitter:url" content="http://friendsofdonegal.org" />
    <meta name="twitter:title" content="Friends of Donegal" />
    <meta
      name="twitter:description"
      content="Harnessing the collective power and influence of the community to improve the lives of our neighbors in the Donegal Community. Together we promote hope and equity for all."
    />
    <meta name="twitter:image" content="https://friendsofdonegal.org/fod-og.png" />

    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-BQ8BE3S0G5"
    ></script><script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-BQ8BE3S0G5");
    </script></head
  >
  <!-- Google tag (gtag.js) -->

  <body>
    <Header
      client:load
      menuItems={[
        { label: "Programs", path: "/programs" },
        { label: "About", path: "/about" },
        { label: "Contact Us", path: "/contact" },
      ]}>
      <DonateButton class="hidden md:inline" slot="donateButton" />
      <DonateButton slot="mobileDonateButton" />
      <Image
        slot="logo"
        loading="eager"
        src={logo}
        alt="Friends of DonegaL logo"
        class="my-2 w-24"
      />
    </Header>

    <main>
      <slot />
    </main>
    <div class="footer">
      <div class="footer__content">
        <div class="my-12 flex flex-col justify-between gap-12 text-xs sm:flex-row">
          <div>
            <h6 class="font-bold">Sitemap</h6>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li>
                <a href="/programs">Programs</a>
                <ul class="ml-4 list-disc">
                  {
                    programs.map((program) => (
                      <li>
                        <a href={`/programs/${program.slug.slice(3)}`}>{program.data.name}</a>
                      </li>
                    ))
                  }
                </ul>
              </li>
            </ul>
          </div>
          <div class="sm:text-center">
            <h6 class="font-bold">Friends of Donegal</h6>
            <ul>
              <li>Copyright {`${new Date().getFullYear()}`}</li>
              <li><a href="/about#501c3">501(C)3 Information</a></li>
            </ul>
          </div>
          <div>
            <DonateButton />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<style>
  body {
    @apply grid min-h-screen grid-rows-[auto,1fr,auto] bg-gray-50;
  }

  .footer {
    @apply bg-gray-200 text-gray-800 shadow-inner;
  }

  .footer .footer__content {
    @apply px-16 md:container md:mx-auto;
  }
</style>
